CONFIG_FEJKON=y
CONFIG_SFP_PORTS=y
CONFIG_PORT0_FC=y
# CONFIG_PORT1_DISABLED is not set
CONFIG_PORT1_FC=y
CONFIG_PORT2_DISABLED=y
# CONFIG_PORT2_FC is not set
# CONFIG_PORT2_ETHERNET is not set
CONFIG_PORT3_DISABLED=y
# CONFIG_PORT3_ETHERNET is not set
CONFIG_LOOPBACK_01=y
CONFIG_AGGRESSIVE_OPT=y
CONFIG_STP=y
CONFIG_STP_PCIE_TLP_TX=y
CONFIG_STP_PCIE_TLP_RX=y
CONFIG_STP_PCIE_C2H=y
CONFIG_STP_FC_STREAM=y
