CONFIG_AGGRESSIVE_OPT=y

#
# SFP+ Ports
#
CONFIG_PORT0_FC=y
# CONFIG_PORT1_DISABLED is not set
CONFIG_PORT1_FC=y
CONFIG_PORT2_DISABLED=y
# CONFIG_PORT2_FC is not set
# CONFIG_PORT2_ETHERNET is not set
CONFIG_PORT3_DISABLED=y
# CONFIG_PORT3_FC is not set
# CONFIG_PORT3_ETHERNET is not set
CONFIG_LOOPBACK_01=y
# end of SFP+ Ports

CONFIG_STP_FILE=""
